# Shared
NODE_ENV=development
POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce
POSTGRES_PORT=5432

# API Gateway
API_GATEWAY_PORT=3000
API_GATEWAY_PRODUCTS_SERVICE_URL=http://products-service:3001
API_GATEWAY_ORDERS_SERVICE_URL=http://orders-service:3002

# Products Service
PRODUCTS_SERVICE_PORT=3001
PRODUCTS_DATABASE_URL=postgresql://ecommerce:ecommerce@postgres:5432/ecommerce

# Orders Service
ORDERS_SERVICE_PORT=3002
ORDERS_DATABASE_URL=postgresql://ecommerce:ecommerce@postgres:5432/ecommerce
ORDERS_PRODUCTS_SERVICE_URL=http://products-service:3001
